
body{
    background-color: #333;
    color: whitesmoke;
}
.heading{
    text-align: center;
}
.Formfill{
    text-align: center;
}
.myDiv{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.aside1{
    background-color: whitesmoke;
    width: 150px;
    height: 830px;
    margin-right: auto;
    color:black;
    float: right;
    padding: 5px;
}


.h2{
    background-color: darkcyan;
}

.myDiv3{
    text-align: center;
}
.audio{
    width: 18%;
    height: 35px;
}